body {
    font:13px/2 arial, helvetica, sans-serif;
    margin:0;
    padding:0;
    padding-top: 20px;
    text-align: center;
    background:url(bats.jpg) no-repeat;background-size: cover;}
header a{
    color: whitesmoke;
    text-decoration: none;
}    
footer a{
    color:whitesmoke;
    text-decoration:none;
}
header {
    padding-bottom: 20%;
    padding-left: 10%;   
}
.textbox input{
    border: transparent;
    border-radius: 50px;
    outline-style: hidden;
    background-color: rgba(119, 136, 153, 0.363);
    color:whitesmoke;
    width:25%;
    margin:10px;
    float:center;
    padding:10px;
}
ul{
    padding: 0;
    margin: 0;
}
header li{
    float:right;
    padding-top: 100px;
    display: inline;
    padding: 0 0px 0 10px;
}
footer li{
    float: left;
    padding-left: 50px;
    padding: 15px 5px 0 5px;
}
.btn{width:30%;
    cursor:pointer;
    color: whitesmoke;
    background: rgb(255, 38, 0);
    font-size: 15px;
    padding:20px;border-spacing: 20px;
    border:none; border-radius: 50px;
}

a{
    color: whitesmoke;padding-left: 60px;text-decoration: none;}
p{
    color: whitesmoke;text-align: center;}
footer {
    padding-top: 6%;float:center;}
.bttn{
    border: transparent;
    outline-style: hidden;
    background-color: rgba(119, 136, 153, 0.205);
    color: whitesmoke ;padding:10px;
}
footer p{
    float:right;
}
header i{
    float:left;
}

.textbox input[type=text],.textbox input[type=Username]{
    border-radius: 50px;display: 16px;
}
.textbox input[type=text],.textbox input[type=Password]{
    border-radius: 50px;display: 16px;
}
h5{
    color:yellowgreen;
}
h6{
    color:yellowgreen;
}